<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>

  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=3Dutf-8' />
    <meta name='viewport' content='width=3Ddevice-width' />
    <title></title>
    <style>
      .container { background-color: #fff; width: 100%; } table tr td, th {
      padding: 7px; } .table tr td, th { border: 1px solid black; } .border {
      border-collapse: collapse; } .width { width: 90%; } .uppercase {
      text-transform: uppercase; } .right { text-align: right; } .center {
      text-align: center; } .capitalize { text-transform: capitalize; } .flex
      {display: flex;} .flex-1 {flex: 1;} .padding {padding: 5px;}
    </style>
  </head>

  <body class='container'>
    <h3>Hello Admin,</h3>
    <p>
      You have a new message coming from the customer. You can login to the
      dashboard or follow this
      <a href='dashboard.delightedbeauty.com'>link</a>
      to read the message
    </p>
    <br />
    <p>Thank you</p>
  </body>

</html>